### Sequential Data Types
Python provide the following type of Sequential Data Types: 
* strings
* lists
* tuples
* range objects

In [6]:
text = "Lists and Strings and can be accessed via indices!"
print(text[0], text[10], text[-1])

L S !

### Lists
Lists are identified by [].  Any value inside a square bracket is called a list

In [5]:
cities = ["Vienna", "london", "paris", "Berlin", "Zurich", "Hamburg"]
# Accessing elemets in a list

In [12]:
cities[-2].title()

'Zurich'

In [11]:
cities[-1]

'Hamburg'

In [8]:
fruits = ['apples','oranges','blueberries','pineapple','watermelon']

In [10]:
len(fruits)

5

In [20]:
fruits[0]

'apples'

In [13]:
fruits[0][0]

'a'

In [21]:
fruits[0][-1]

's'

In [19]:
fruits[-1]

'watermelon'

In [18]:
fruits[-1][0]

'w'

In [26]:
fib = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]#zero not included in computers??

In [27]:
len(fib)

10

### Python Lists
List is a collection of identical objects.  Python lists is an ordered group of elements or items.
It's imiportant to note that these list of elements don't have to be of the same type.  It can be arbitrary mixture of elements
#### The main properties of Python lists are:
* They are ordered
* They contain arbitrary objects
* Elements of a list can be accessesd by an index
* They are nestable, i.e., can contain other lists as sublists
* They are mutable, i.e., The elements of a list can be changed

In [30]:
programmingLanguages = ["python", "c", "c++", "java", "perl"]
print(programmingLanguages[0] + " and " + programmingLanguages[1] + "are quiet different!")

python and care quiete different!

#### Sublists
Lists can have sublists as elements.   These sublists may contain sublists as well.
* below is an example is a "hybrid list"

In [35]:
person =[["marc","mayer"],#person list first entry
        ["17 oxford street", 12345, "london"],#second list entry which is a list
         '07876-7876']#third is just a value and the third value

In [37]:
person[1]

['17 oxford street', 12345, 'london']

In [38]:
person[0]

['marc', 'mayer']

In [39]:
person[2]

'07876-7876'

In [48]:
person[0][1]

'mayer'

In [49]:
person[0][1][1]

'a'

In [50]:
person[0],[1]# this is junk...coincidentally has a value

(['marc', 'mayer'], [1])

In [51]:
len(person)

3

In [52]:
len(person[0])

2

### complex list

In [53]:
complex_list = [["a",["b",["c","x"]]],42]

In [60]:
#print b,c and x

In [63]:
complex_list[0][1]

['b', ['c', 'x']]

In [67]:
complex_list[0]

['a', ['b', ['c', 'x']]]

In [61]:
#print c

In [66]:
complex_list[0][1][1][0]

'c'

In [8]:
complex_list = [["a",["b",["c","x"]]],42]
complex_list[0][1][0]

'b'

## Tuple
A tuple is an immutable list.  It cannot be changed in a ny way once it has been created.
Features of a Tuple List:
*  Tuples are faster lists
*  If you know that some data doesn't have to be changed, you should use Tuple instead of lists, because this protects your data against accidental changes.
*  ***always consider the type of data to chose the storage/coding mechanism***
*  It is designated as "()" vs. "[]" for lists, e.g. fruit = ('apple') vs fruit = ['apple']

In [9]:
tList = ("tuples", "are", "immutable")
tList[0]

'tuples'

In [10]:
tList[10]

IndexError: tuple index out of range

In [11]:
tList[0] = "assignments to elements are not possible"

TypeError: 'tuple' object does not support item assignment

## Create a unique Tuple List of your choice

In [12]:
tHardware = ('screw','nut','washer','bolt','hook')

In [13]:
tHardware

('screw', 'nut', 'washer', 'bolt', 'hook')

In [14]:
colorList = [("red", 255,0,0), ("white", 255,255,255), ("blue", 0, 0, 255)]

In [15]:
colorList

[('red', 255, 0, 0), ('white', 255, 255, 255), ('blue', 0, 0, 255)]

### a mutable list with immutable tuples, i.e., you can add, remove tuples (which you can't change) to the list

In [18]:
colorList =  [("white", 255,255,255), ("blue", 0, 0, 255)]

In [19]:
colorList

[('white', 255, 255, 255), ('blue', 0, 0, 255)]

### there is not list comparison for defined data - note 'red'

In [20]:
colorList = [("red", 255,0,0), ("white", 255,255,255), ("red", 0, 0, 255)]

In [21]:
colorList

[('red', 255, 0, 0), ('white', 255, 255, 255), ('red', 0, 0, 255)]

In [22]:
colorList[0]

('red', 255, 0, 0)

In [23]:
colorList[0][3]

0

### can change the list, but not the tuple

In [ ]:
colorList[0][1] = 0

In [26]:
colorList[0] = ('Blue', '0','255','255')

In [27]:
colorList

[('Blue', '0', '255', '255'), ('white', 255, 255, 255), ('red', 0, 0, 255)]

In [28]:
colorList[0][1] = 0

TypeError: 'tuple' object does not support item assignment

### using type() again to identify the variable

In [24]:
type(colorList)

list

In [25]:
type(colorList[0])

tuple

## Dictionaries
A sequential data set that can be represented by a key:value pair
* "key" is always unique, "value" can be anything

In [3]:
city_population = {"new york": 8_558_000, #Underscore is disregarded in use of the number
                  "lost angeles": 3_971_000,
                  "Toronto": 2_731_000,
                  "Houston": 2_229_000
                  }

### recall data using the key

In [2]:
city_population["new york"]

8558000

In [4]:
city_population["detroit"]

KeyError: 'detroit'

In [6]:
timesOfTheDay = {'early morning':'5-7',
                 'mid morning':'7-10',
                 'late morning':'10-11',
                 'midday':'12',
                 'afternoon':'12-3',
                 'late afternoon':'3-6',
                 'early evening':'7-8'
                }

In [7]:
timesOfTheDay['midday']

'12'

In [8]:
en_de = {"red":"rot", "green":"grun","blue":"blau", "Yello":"gelb"}

In [9]:
en_de['red']

'rot'

### Problem Statement
Read three float numbers using input function and print out the largest number of the 3 input values

In [16]:
x = float(input("1st Number? "))
y = float(input("2nd Number? "))
z = float(input("3rd Number? "))

if x > y and x > z:
    maximum = x
elif y>x and y>z:
    maximum = y
else:
    maximum = z
        
print(maximum,"is the largest number of x, y and z")
print("The maximal value is: ",str(maximum))

1st Number? 4
2nd Number? 3
3rd Number? 7
7.0 is the largest number of x, y and z
The maximal value is:  7.0

In [17]:
## Another approach to use the if condition for the above
x = float(input("1st Number? "))
y = float(input("2nd Number? "))
z = float(input("3rd Number? "))

if (x>y):
    if(x>z):
        maximum = x
else:
    if (y>z):
        maximum = y
    else:
        maximum = z
        
print("the maximalvalue is:  ", str(maximum))

1st Number? 3
2nd Number? 4
3rd Number? 2
the maximalvalue is:   4.0

### Ternery if statement

In [26]:
# The maximum speed is 50 fi within the city, else it's 100
inside_city_limits = True
#maximum_speed = 50 if inside_city_limits else 100 #returns "True" or "False"
#maximum_speed
minimum_speed = 50
maximum_speed = 100
print(minimum_speed if inside_city_limits else maximum_speed)
#another way to write the above

50

In [21]:
inside_city_limits = False
if inside_city_limits:
    maximum_speed = 50
else:
    maximum_speed = 100
    
print("Maximum speed is ", maximum_speed)

Maximum speed is  100

In [36]:
#Step 1: As the unser to enter their age
age = int(input("Enter your age: "))
#Step 2:  Ask teh user to enter teh time of the movie
showTime = input("Enter the movie time (24 hour format, e.g., 15:30)")

#Step 3:  Calculatge the ticket price base on age and showtime
if age <= 12 or age >= 65:
    discount_price = 0.5 #50% discount applied for child and senior citizens
else:
    # convert show time to an integer
    discount_price = 1
    
showTime = int(showTime.replace(":",""))
 
age     
#if showTime <= 1700:
#    ticket_price = 10.00*discount_price  #Movie ticket price before or by 5pm
#else:
#    ticket_price = 13.00*discount_price # Movie after 5:00 PM

#Step 4:  Print the ticket price
print("Ticket price is  ${:.2f}".format(ticket_price))

Enter your age: 67
Enter the movie time (24 hour format, e.g., 15:30)13:30
Ticket price is  $5.00

In [38]:
#Step 1: As the unser to enter their age
age = int(input("Enter your age: "))
#Step 2:  Ask teh user to enter teh time of the movie
showTime = input("Enter the movie time (24 hour format, e.g., 15:30)")

#Step 3:  Calculatge the ticket price base on age and showtime
if age <= 12:
    discount_price = 0.5 #50% discount applied for child
elif age >= 65:
    discount_price = 0.4 #60% discount for seniors
else:
    # convert show time to an integer
    discount_price = 1
    
showTime = int(showTime.replace(":",""))
 
if showTime <= 1700:
    ticket_price = 10.00*discount_price  #Movie ticket price before or by 5pm
else:
    ticket_price = 13.00*discount_price # Movie after 5:00 PM

#Step 4:  Print the ticket price
print("Ticket price is  ${:.2f}".format(ticket_price))

Enter your age: 50
Enter the movie time (24 hour format, e.g., 15:30)17:30
Ticket price is  $13.00

### Using random build a game to guess a number

In [59]:
import random
upper_bound = 20
lower_bound = 1
to_be_guessed = random.randint(lower_bound, upper_bound)
guess = 0
while guess != to_be_guessed:
    guess = int(input("New Number: "))
    if guess > 0:
        if guess > to_be_guessed:
            print("Number too large")
        elif guess < to_be_guessed:
            print("Number too small")
    else:
        # 0 means giving up
        print("quitter!")
        break
        
else:
print("Congrats.  You made it!")

New Number: 10
Number too small
New Number: 16
Number too large
New Number: 14
Number too large
New Number: 13
Number too large
New Number: 12
Congrats.  You made it!

In [77]:
# Step 1: As the user to enter their age
age = int(input("Enter your age: "))
# Step 2: Ask the user to enter the time of the moview
showTime = input("Enter the movie time (24 hour format, e.g., 15:30)")

# convert show time to an integer
showTime = int(showTime.replace(":", ""))

ticket_price = 10 if showTime <= 1700 else 13
#showTime <= 1700 ticket_price else ticket_price = 13

#if showTime <= 1700:
 #   ticket_price = 10.00 # Movie before or at 5:00 PM
#else:
 #   ticket_price = 13 # Movie after 5:00 PM
# Step 3: Calculate the ticket price based on age and showtime

if age <= 12 or age >= 65:
    ticket_price = ticket_price * 0.5 # 50% discount applied for child and senior citizens
    
# Step 4: Print the ticket price
print("Ticket price is: ${:.2f}".format(ticket_price))

Enter your age: 50
Enter the movie time (24 hour format, e.g., 15:30)1530
Ticket price is: $10.00

### While Loops
There are essentially three kinds of loops
- Count controlled loops (Python doesn't have this kind of loop)
- Condition-controlled loop; A loop will repeat until a give condition ismet
- Collection-controlled loop - uses collection objects

iterate over data

In [51]:
# Simple example for a while Loop
# Calucate the sum of numbers from 1 to 100
n = 100
total_sum = 0
counter = 1
while counter <= n:
    total_sum = total_sum + counter
    counter = counter + 1

print("sum of 1 until "+ str(n) + " results in " + str(total_sum))

sum of 1 until 100 results in 5050

### Write a simple while loop that counts from 1 to 5 and sum the numbers

In [68]:
n = 5
counter = 1
total = 0

while (counter <= n):
    print("counter is at ", counter)
    total = total + counter
    counter = counter + 1
    print("the total is ", total, "\n")

counter is at  1
the total is  1

counter is at  2
the total is  3

counter is at  3
the total is  6

counter is at  4
the total is  10

counter is at  5
the total is  15

#### While Loop is used to check a condition that may change during the course of the loop, so that the loop can finish executing once that condition evaluates to false

In [76]:
#use a while loop to create the fibinnachi sequence
#0,1,1,2,3,5,8,13,21,34
a=0
b=1
count=0
max_count = 5

while(count < max_count):
    #fibinaci_sequence = a + b
    print(a,b,end =" ") # (end = " ") This keeps the print from creating a new line
    count += 1
    a = a + b
    print("\nnew 'a' value", a)
    b = a + b
    print("new 'b' value", b)
    
print()    

fibinacci_total=0

0 1
new 'a' value 1
new 'b' value 2
1 2
new 'a' value 3
new 'b' value 5
3 5
new 'a' value 8
new 'b' value 13
8 13
new 'a' value 21
new 'b' value 34
21 34
new 'a' value 55
new 'b' value 89