In [1]:
"""

Pseudo code for python function
def funtion_name(parameters_list): #always start with
    statements --> This is inside the function body
    
"""

'\n\nPseudo code for python function\ndef funtion_name(parameters_list):\n    statements --> This is inside the function body\n    \n'

In [5]:
def summation(x,y):
    return x + y

#### the next two are acceptal different styling function
#### functions are "first class objects" or higher priority in memory,  they are executed first

In [6]:
def sum_numbers(x,y):
    return x + y

In [7]:
def sumNumber(x,y):
    return x + y

In [8]:
summation(2,3)

5

In [9]:
a=2
b=3
summation(a,b)

5

In [11]:
sum_numbers(2,3)

5

In [12]:
sumNumber(2,3)

5

In [13]:
sum_numbers(2,3)*sumNumber(2,3)*summation(2,3)

125

#### Exer1: Write a funtion that reeturns the max of two numbed

In [15]:
def max_of_two(a,b):
    return a if a > b else b

In [16]:
max_of_two(3,4)

4

#### Ex 2:  Write a functiono that checks whether a number is even or not

In [20]:
def isEven(num):
    return num % 2 == 0  #modulo operator

In [21]:
isEven(3)

False

In [22]:
isEven(4)

True

#### Ex 3: Write a function that calculates the factorial of a given number

In [40]:
def factorial(n):  #recursive functions - calling same function(s) inside of a function 
    if n == 0:
        return 1
        
'''    print (n)
    z = n* factorial(n-1)
    return z '''

    print(n)
    fact = (n*factorial(n-1))
    return fact         
    #return (n*factorial(n-1))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [34]:
factorial(5)  #

UnboundLocalError: cannot access local variable 'fact' where it is not associated with a value

### Sets
* the data type "set", is a collection type.  A set in python is an unordered collection of unique and immutable objects

In [42]:
x = set("A Python Tutorial")
x

{' ', 'A', 'P', 'T', 'a', 'h', 'i', 'l', 'n', 'o', 'r', 't', 'u', 'y'}

In [45]:
s = set()  #don't rely on set to maintain the unordered order
s.add(2)
s.add(1)
s.add(3)
s

{1, 2, 3}

####

#### Ex 4: Write a function that takes a list and returns a new list of unique elements

In [46]:
def uniqueList(lst):
    return list(set(lst))

In [47]:
uniqueList([1,2,3,3,5,5,6,7,6,4]) #set()

[1, 2, 3, 4, 5, 6, 7]

####  DOM, Scrapy (for APIs) and use python (based on c and c++) to clean/cull what one wants from it via imported libraries

#### Ex. 5:  Write a funtion that checks whether a word is a palindrom

In [55]:
def isPalindrome(word):
    return word == word[::-1]

In [56]:
isPalindrome("radar")

True

In [57]:
isPalindrome("booger")

False

In [58]:
isPalindrome('madam')

True

#### Ex 6.:  write a function that calculates the sum of all numbers in a list

In [59]:
def sum_of_list(lst):
    return sum(lst)

In [62]:
x = [1,2,3,3,5,5,6,7,6,4]
#sum_of_list([1,2,3,3,5,5,6,7,6,4])
sum_of_list(x)

42

In [64]:
y = [1,2,3,3,5,5,6,7,6,#]
#sum_of_list([1,2,3,3,5,5,6,7,6,4])
sum_of_list(y)

SyntaxError: incomplete input (2619931167.py, line 3)

### Ex7. Write a function to filter non numeric elements in a list and return a list of numbers
* then use the above list returned and apply sum()

In [ ]:
def filter_nonNumeric(lst):
    new_list = []
    for item in lst:
        if int(item)
            new_list = new_list.append(item)
    
return new_list

    
#is item a letter....  value = int(value)
#type()?

In [ ]:
lst = [1, 'f', 2]
filter_nonNumeric(lst)

#### Ex8.  Write a function that takes a string and returns the number of upper case and lower case letters

In [101]:
def countCase(s):
    lower, upper = 0, 0
    for char in s:
        if char.islower():
            lower += 1
        elif char.isupper():
            upper +=1 
    #return lower, upper
    return upper, lower

In [102]:
stringStuff = ";lasjkdffjKKf"
countCase(stringStuff)

(2, 10)

In [107]:
#upper, lower = countCase("Hello World")
fred, lower = countCase("Hello World")

In [105]:
fred

2

In [106]:
lower

8

In [108]:
### Python can return multiple values
def myFunc():
    return 1, 2, 3

In [119]:
a = myFunc()
a

(1, 2, 3)

In [116]:
x,y,z = myFunc()

In [117]:
x

1

In [118]:
y

2

In [113]:
z

3

#### Ex 9:  Write a function to calc F to C

In [122]:
def fahrenheit(t_in_celsius):
    #return temperature in degrees Fahrenheit from degree celcius
    return (t_in_celsius*(9/5)+32)

In [123]:
fahrenheit(16)

60.8

In [124]:
fahrenheit(28)

82.4

In [137]:
def celcius(t_in_fahrenheit):
    return ((t_in_fahrenheit-32)*5/9)

In [138]:
celcius(82)

27.77777777777778

In [129]:
tempValue = fahrenheit(38)

In [135]:
lstTemp = [22.6, 25.8, 27.3, 29.8]
for t in  lstTemp:
    print(f"Fahrenheit for" , t, "is", fahrenheit(t))

Fahrenheit for 22.6 is 72.68
Fahrenheit for 25.8 is 78.44
Fahrenheit for 27.3 is 81.14
Fahrenheit for 29.8 is 85.64

#### Ex. 10:l  Write a function to calculate average for 2 values

In [141]:
def average(a, b):
    return(a + b)/2

In [140]:
x = 5
y = 7
average(x,5)

5.0

In [148]:
# Variable arguments in Python
def avg(intFirst, *intRest):
    return(intFirst + sum(intRest))/(len(intRest)+1)

In [149]:
avg(2,3,5,6)

4.0

In [150]:
avg(1,2,3,4,5,6,7,8,9,10)

5.5

In [179]:
def unknown_avg(*unknown_number):
    return (sum(unknown_number)/len(unknown_number))

In [180]:
unknown_avg(5,6,7)

6.0

#### Ex 11:  Write a function to print a default value when no arguments are passed to the function

In [175]:
def Hello(args="World"):
    return "Hello " + args

In [177]:
Hello('peeps')

'Hello peeps'

In [178]:
Hello()

'Hello World'

#### Ex 12:  Function argument annotations
*  function argument annotations can be useful way to give programmers hints about how a function is supposed to be used

In [185]:
def add(x:int, y:int) -> int:
    return x + y

In [186]:
help(add)

Help on function add in module __main__:

add(x: int, y: int) -> int

In [187]:
add(2, 3)

5

In [190]:
def subtract(x:int, y:int) -> int:
    return x - y

In [189]:
def mult(x:int, y:int) -> int:
    return x*y

In [191]:
def dev(x:int, y:int) -> int:
    return(x/y)

In [211]:
def sqrt(x:int) -> int:
    return (x**1/2)

### Ex HOMEWORK:  Write a simple calculator
* ask user to perform addition, multiplication, etc with annotation
* calculate choice

In [212]:
print("we are going to do some basic m,a,s,d")

while operator != 'q':
    operator = input("please input '*','/','-','+' for multiplication, etc., 'q' to quit ")
    if operator != 'q':
        x = int(input("first value = x:  "))
        y = int(input("second value = y: "))
        if operator == '*':
            print("your answer is ", mult(x,y))
        elif operator == '/':
            print("your answer is ", dev(x,y))
        elif operator == '-':
            print("your answer is ", subtract(x,y))
        elif operator == '+':
            print("your ansser is ", add(x,y))
    
print("I hope it was fun")

we are going to do some basic m,a,s,d
I hope it was fun